@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC&display=swap');
.wrapper{
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    grid-template-columns: 1fr;
    grid-template-areas: "sidebar"
                         "content";
    width: 100vw;
    height: 100vh;
  }
  
  @media screen and (min-width: 850px) {
    .wrapper {
      grid-template-columns: 200px 5fr;
      grid-template-rows: 1fr;
      grid-template-areas: "sidebar content";
    }
  }
  

  
  main {
    grid-area: content;
    padding: 48px;
  }

sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: "logo menu avatar"
                         "copyright menu avatar";
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .copyright {
    text-align: center;
  }
  .avatar {
    grid-area: avatar;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  .avatar__name {
    flex: 1;
    text-align: right;
    margin-right: 1em;
  }
  .avatar__img > img {
    display: block;
  }
  
  .copyright {
    grid-area: copyright;
  }
  .menu {
    grid-area: menu;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .menu__text {
    display: none;
  }
  
  @media screen and (min-width: 850px) {
    sidebar {
      grid-template-areas: "logo"
                           "avatar"
                           "menu"
                           "copyright";
      grid-template-columns: 1fr;
      grid-template-rows: 50px auto 1fr 50px;
    }
    
    .menu {
      flex-direction: column;
      align-items: normal;
      justify-content: flex-start;
    }
    .menu__text {
      display: inline-block;
    }
    .avatar {
      flex-direction: column;
    }
    .avatar__name {
      margin: 1em 0;
    }
    .avatar__img > img {
      border-radius: 50%;
    }
  }
  
  .toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }
  
  .calendrier__semaine,
  .calendrier__header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);  
  }
  .calendrier__semaine {
    grid-auto-rows: 100px;
    text-align: right;
  }
  
  .calendrier__header {
    grid-auto-rows: 50px;
    align-items: center;
    text-align: center;
  }
  
  .calendar__jour {
    padding: 16px;
  }
  
  .bouton{
    margin-top: 40px;
    margin-left: 120px;
    display: flex;
    border: 5px solid;
    border-radius: 15px;
    width: 5%;
    justify-content: center;
    background-color: cornflowerblue;
    float: left;
    color: white;
  }
  
  :root {
    --red:cornflowerblue;
  }
  
  sidebar {
    background-color: white;
    box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.2);
  }
  
  main {
    background-color: #FCFBFC;
  }
  
  .avatar__name {
    font-size: 0.8rem;
  }
  
  .menu__item {
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 16px 16px 16px 14px;
    border-left: 4px solid transparent;
    color: inherit;
    text-decoration: none;
    transition: color ease 0.3s;
  }
  
  .menu__item--active .menu__icon {
    color: var(--red);
  }
  .menu__item--active .menu__text {
    color: black;
  }
  
  .menu__item:hover {
    color: black;
  }
  
  
  .menu__icon {
    font-size: 1.3rem;
  }
  
  @media screen and (min-width: 850px) {
    .menu__icon {
      font-size: 0.9rem;
      padding-right: 16px;
    }
    .menu__item--active {
      border-left: 4px solid var(--red);
      box-shadow: inset 10px 0px 17px -13px var(--red);
    }
  }
  
  .copyright {
    font-size: 0.7rem;
    font-weight: 400;
  }
  
  .calendrier {
    background:rgba(0, 0, 0, .2);
    border: 1px solid #e1e1e1;
    
  }
  
  .calendrier__header > div {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
  }
  
  .calendar__jour {
    border-right: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
  }
  
  .calendar__jour:last-child {
    border-right: 0;
  }
  
  .toggle{
    display: grid;
    grid-template-columns: 1fr 1fr;
  
    text-align: center;
    font-size: 0.9em;
  }
  .toggle__option{
    padding: 16px;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    text-transform: capitalize;
    cursor: pointer;
  }

  .toggle__option--selected{
    border-color: white;
    background-color: white;
    color: var(--red);
    font-weight: 500;
    box-shadow: 1px 2px 30px -5px var(--red);
  }

  body
{
	margin: 0;
	height: 100%;
	width: 100%;
	background: url("marbre.jpg");
  background-size: cover;
  color: black;
  font-weight: 100;
  color: #A8B2B9;
  font-family: 'Patrick Hand SC', cursive;

}

.box
{
  margin-top: 60px;
	position: absolute;
	top: 40%;
	left: 50%;
	width: 400px;
	padding: 40px;
	background: rgba(0,0, 0, .6);
	text-align: center;
	transform: translate(-50%, -50%);
	color:white;
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
	border-radius: 10px;

}

.box .inputBox
{
	position: relative;
}

.box .inputBox input
{
	width: 100%;
	padding: 10px 0;
	font-size: 20px;
	color:cornflowerblue;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid white;
	border-radius: 7px;
	outline: none;
	background: transparent;
}

.box .inputBox label
{
	position: absolute;
	top: 0;
	left:0;
	letter-spacing: 1px;
	padding: 10px 0;
	font-size: 16px;
	color:white;
	pointer-events: none;
	transition: .5s;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label
{
	top:-18px;
	left: 0;
	color: cornflowerblue;
	font-size: 12px;
}

.box input[type="button"]
{
	background: transparent;
	border:none;
	outline:none;
	color:  black;
	background: cornflowerblue;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 10px;
	font-size: 16px;
	margin-bottom: 7px;
}

.box h2
{
	margin: 0;
	padding: 5px;
	color: white;
  text-align: center;
  margin-bottom: 5px;

}

.box2 textarea{
	resize: none;
	height: 10em;
  width: 15em;
  margin-right: 20px;;
}

select,button{
	background: transparent;
	border:none;
	outline:none;
	color:black;
	background: cornflowerblue;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 10px;
	font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: red;
}

#calendarmonth{
  border-style:0.2px solid;
  display: flex;
  float: left;  
  color: cornflowerblue;
  margin-left: 5px;
}

.minicalendar{
	border-top:0.2px solid;
  border-left:0.2px solid;
}